In [ ]:
# Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. 
# Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. 
# List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. 
# Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

l1=["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
l2=["Ali","Mukesh","Mahesh","Jacob","Sai","Sarita"]
def common_employee(l1,l2):
  '''
  we need to give two lists as parameter and the function will return the common elements of both the lists
  '''
  l_common=[]
  for i in l1:
    for j in l2:
      if i==j:
        l_common.append(i)
  print(l_common)
common_employee(l1,l2)

['Mahesh', 'Ali', 'Jacob']

In [ ]:
# Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”.
# Please write a program which separates all the names and convert them into a list. Once converted in a list,
# please write a program which adds their age.
# Ramesh :  25
# Suresh : 22
# Mohit : 26

# using split() function 
# s="Ramesh Suresh Mohit"
# name=s.split()

# without using split() function
s="Ramesh Suresh Mohit"
age=[25,22,26]
def spl(s):
  name=[]
  st=""
  for i in s:
    if i!=" ":
      st+=i
    else:
      name=name+[st]
      st=""
  if st!="":
    name=name+[st]
  return name


def name_age(age):
  d=dict()
  s="Ramesh Suresh Mohit"
  for i in spl(s):
        d[i]=age[spl(s).index(i)]
  return d

print(spl(s))
print(name_age(age))

['Ramesh', 'Suresh', 'Mohit']
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [ ]:
# Q3: A few students from a university have taken three exams

# Name = Sam, Jacy, Tom, Steve
# Python = 25, 26, 29, 28
# Statistics = 23, 21, 19, 25
# SQL = 29, 27, 28, 25

# please write a program which calculates mean values (no in-built function for mean) of all three tests
# and print the highest mean value. Addition and other functions are allowed. 
# Please also report who scored the highest mark in python using programming construct. 

Name=["Sam", "Jacy", "Tom", "Steve"]
Python=[25, 26, 29, 28]
Statistics=[23, 21, 19, 25]
SQL=[29, 27, 28, 25]
mean=[]

# calculating the mean values of all three exams and store it in a list
for i in Python:
  for j in Statistics:
    for k in SQL:
      if Python.index(i)==Statistics.index(j)==SQL.index(k):
        mean.append((i+j+k)/3)
print(mean)

# finding the maximum value of the list        
max=mean[0]
for i in mean:
  if max<i:
    max=i       
print("{}({}) is the highest mean value".format(int(max),Name[mean.index(max)])) 

# finding the highest mark in Python
max_python=0
for i in Python:
  if max_python<i:
    max_python=i

print("{} got highest mark in Python".format(Name[Python.index(max_python)]))

[25.666666666666668, 24.666666666666668, 25.333333333333332, 26.0]
26(Steve) is the highest mean value
Tom got highest mark in Python

In [ ]:
#  Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol,
#  3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 
#  and one strip of vitamin c costs Rs. 33.
#  Patient gave you Rs 2000. 
#  Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?  

def medicine_cost(Cash,Paracetamol=None,Azithromycin=None,Vitamin_C=None):
  total=0
  if Paracetamol!=None:
    total_paracetamol=35*Paracetamol
    total=total+total_paracetamol
    print("Paracetamol cost: {} Rs.".format(total_paracetamol))
  if Azithromycin!=None:
    total_azithromycin=49*Azithromycin
    total=total+total_azithromycin
    print("azithromycin cost: {} Rs.".format(total_azithromycin))
  if Vitamin_C!=None:
    total_vitamin_c=33*Vitamin_C
    total=total+total_vitamin_c
    print("Vitamin_C cost: {} Rs.".format(total_vitamin_c))

  refund=Cash-total
  
  print("total cost: {} Rs.".format(total))
  print("refunded amount:{} Rs.".format(refund))

  
medicine_cost(2000,2,3,None)

Paracetamol cost: 70 Rs.
azithromycin cost: 147 Rs.
total cost: 217 Rs.
refunded amount:1783 Rs.

In [ ]:
# Q5: Accept a sentence as input and find the number of vowels in it.
# Assume that the sentence has no punctuation marks. 
# For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

def vowel(s):
  count=0
  for i in s:
    if i in "aeiouAEIOU":
      count+=1
  print(count)
vowel(" I am learning python ")

6

In [ ]:
# Q6: You have been appointed by the election commission to create a website. 
# Your first task is to work on a program which tells candidates if they are eligible for voting or not. 
# If they are eligible your output should be ‘Congrats! You are eligible’, 
# otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years.

# For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. 
# If someone’s age is 15 years it should print output as ‘return after 3 years’.  

def eligibility(age):
  if age>=18:
    print("Congrats! You are eligible")
  else:
    print('return after {} years'.format(18-age))
eligibility(16)

return after 2 years